fastapi
uvicorn[standard]
python-multipart
python-dotenv

langchain
langchain-openai
langchain-community
langchain-text-splitters

openai
chromadb

sentence-transformers
tiktoken
numpy

pypdf
pdfplumber
python-docx
pillow
pytesseract

pydantic
pydantic-settings
aiofiles

tf-keras
